main {
  background-color: rgba(153, 153, 153, 1);
  min-height: 80vh;
  border-top: solid 3px #fff;
}

#image-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 210px);
  grid-template-rows: repeat(auto-fill, 210px);
  grid-auto-flow: row;
  margin-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
}

@media (max-width: 992px) {
  #image-wrapper {
    grid-template-columns: repeat(3, 210px);
  }
}

@media (max-width: 768px) {
  #image-wrapper {
    grid-template-columns: repeat(2, 210px);
  }
}