.character {
  width: 200px;
  height: auto;
  border: solid 3px #fff;
  filter: drop-shadow(5px 5px 5px #222);

  place-self: center;
}
.character:hover {
  transform: scale(1.1);
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}