color-palette {
  background-color: rgba(165, 0, 0, 1);
  background-color: rgba(50, 104, 189, 1);
  background-color: rgba(0, 153, 31, 1);
  background-color: rgba(153, 153, 153, 1);
  background-color: rgba(70, 0, 97, 1);
}
body {
  margin: 0;
}
nav {
  color: #fff;
  width: 100%;
  position: fixed;
  z-index: 1;
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 
  0 10px 10px rgba(0,0,0,.22);
}
#navTop {
  background-color: rgba(50, 104, 189, 1);
  min-height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#navBottom {
  background-color: rgba(153, 153, 153, 1);
  min-height: 5px;
}